.button {
	display: block;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	border-radius: 8px;
	text-align: center;
	background: #01bab4;
	font-family: Lato, Arial, sans-serif;
	font-size: 15px;
	line-height: 24px;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}

