doctype transitional
html(lang='en')
	head
		meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
		title Letter
		meta(name='viewport' content='width=device-width, initial-scale=1.0')

		= '\n    '
		<!--[if mso]>
		link(href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet')
		= '\n    '
		<![endif]-->

		link(rel='stylesheet' href='css/style.css' data-inline='')
	block variables
	- const isDevelop = true;
	-
		const images = {
			'image-1': headerImage ? headerImage: {
				'local': 'images/image-1.jpg',
				'web': 'https://i.ibb.co/5jx6b6R/image-1.jpg'
			},
			'bg-shadow-top': {
				'local': 'images/bg-shadow-top.png',
				'web': 'https://i.ibb.co/LvD3fc4/bg-shadow-top.png'
			},
			'bg-shadow-left': {
				'local': 'images/bg-shadow-left.png',
				'web': 'https://i.ibb.co/XY2N1bW/bg-shadow-left.png'
			},
			'bg-shadow-right': {
				'local': 'images/bg-shadow-right.png',
				'web': 'https://i.ibb.co/t2kJWQs/bg-shadow-right.png'
			},
			'bg-shadow-pre-bottom': {
				'local': 'images/bg-shadow-pre-bottom.png',
				'web': 'https://i.ibb.co/CmMdX0F/bg-shadow-pre-bottom.png'
			},
			'bg-shadow-bottom': {
				'local': 'images/bg-shadow-bottom.png',
				'web': 'https://i.ibb.co/zmjtSG7/bg-shadow-bottom.png'
			},
			'flynas-logo': {
				'local': 'images/flynas-logo.png',
				'web': 'https://i.ibb.co/8BgTG70/flynas-logo.png'
			},
			'icon-1': {
				'local': 'images/icon-1.png',
				'web': 'https://i.ibb.co/Mhh6NDX/icon-1.png'
			},
			'icon-2': {
				'local': 'images/icon-2.png',
				'web': 'https://i.ibb.co/BjdNDK8/icon-2.png'
			},
			'icon-3': {
				'local': 'images/icon-3.png',
				'web': 'https://i.ibb.co/k0L4NfM/icon-3.png'
			},
			'icon-4': {
				'local': 'images/icon-4.png',
				'web': 'https://i.ibb.co/swzpqr2/icon-4.png'
			},
			'icon-5': {
				'local': 'images/icon-5.png',
				'web': 'https://i.ibb.co/FbBrS0v/icon-5.png'
			},
			'icon-6': {
				'local': 'images/icon-6.png',
				'web': 'https://i.ibb.co/ZLhNM55/icon-6.png'
			}
		}

	-
		function image(name) {
			return isDevelop ? images[name]['local'] : images[name]['web'];
		}

	body
		table(border='0' cellpadding='0' cellspacing='0' width='100%')
			tr
				td
					table(align='center' border='0' cellpadding='0' cellspacing='0' width='600' style='max-width: 100%; border-collapse: collapse; background-color: #f1f9fb;  background-image: url(' + image('image-1') + '); background-repeat: no-repeat; background-size: 100% auto;')
						tr
							td(style='padding-top: 42.83%;') &nbsp;
						tr
							td
								table(align='center' border='0' cellpadding='0' cellspacing='0' width='600' style='border-collapse: collapse;')
									tr
										td(colspan='3')
											table(border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse; background-image: url(' + image('bg-shadow-top') + '); background-repeat: no-repeat; background-size: 100% auto;')
												tr
													td(width='15' style='font-size: 0; line-height: 0') &nbsp;
													td(style='padding-top: 31px;')
														table(border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse;')
															tr
																td(style='font-size: 0; line-height: 0; color: transparent; padding-top: 46px; border-radius: 5px 5px 0 0; background: #ffffff;') &nbsp;
													td(width='15' style='font-size: 0; line-height: 0') &nbsp;
									tr
										td(width='15' style='background: url(' + image('bg-shadow-left') + ') repeat-y;') &nbsp;
										td(style='padding-top: 8px; background: #ffffff;')
											table(border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse;')
												tr
													td(style='padding-left: 10%; padding-right: 10%;')
														table(border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse;')
															block content

										td(width='15' style='background: url(' + image('bg-shadow-right') + ') repeat-y;') &nbsp;
									tr
										td(colspan='3')
											table(border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse; background-image: url(' + image('bg-shadow-pre-bottom') + '); background-repeat: no-repeat; background-size: 600px 53px; background-position: center bottom;')
												tr
													td(width='15' height='0' style='font-size: 0; line-height: 0') &nbsp;
													td
														table(border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse;')
															tr
																td(style='font-size: 0; line-height: 0; color: transparent; padding-top: 53px; border-radius: 0 0 5px 5px; background: #ffffff;') &nbsp;
													td(width='15' height='0' style='font-size: 0; line-height: 0') &nbsp;

						tr
							td
								table(align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse; background-image: url(' + image('bg-shadow-bottom') + '); background-repeat: no-repeat; background-size: 100% auto;')
									tr
										td(style='padding-top: 47px; padding-bottom: 47px; text-align: center; font-family: Lato, Arial, sans-serif; font-size: 16px; color: #5a5a5a;')
											| Need help?
											|
											a(href='https://www.flynas.com/' style='color: #88cddc;') Contact Us
						tr
							td(style='background: #72c3d6;')
								table(align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse; margin-left: auto; margin-right: auto;')
									tr
										td(style='padding-top: 32px; padding-bottom: 32px; padding-left: 12%; padding-right: 12%;')
											table(align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse;')
												tr
													td(style='vertical-align: middle; color: #ffffff;')
														img(src=image('flynas-logo') alt='Flynas logo' width='156' height='52' border='0' style='max-width: 100%; height: auto;')
													td(width='20' height='0' style='font-size: 0; line-height: 0;') &nbsp;
													td(style='width: 160px; vertical-align: middle;')
														table(align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse;')
															tr(valign='middle')
																td
																	img(src=image('icon-1') width='16' height='15' alt='' border='0')
																td(width='12' height='0' style='font-size: 0; line-height: 0;') &nbsp;
																td
																	a(href='tel:#' style='padding-left: 6px; font-family: HelveticaNeueCyr, Lato, Arial, sans-serif; font-size: 14px; line-height: 24px; text-decoration: none; color: #ffffff;') 090 899 89 89 33
															tr
																td(style='font-size: 0; line-height: 0; height: 8px;') &nbsp;
															tr(valign='middle')
																td
																	img(src=image('icon-2') width='16' height='12' alt='' border='0')
																td(width='12' height='0' style='font-size: 0; line-height: 0;') &nbsp;
																td
																	a(href='mailto:#' style='padding-left: 6px; font-family: HelveticaNeueCyr, Lato, Arial, sans-serif; font-size: 14px; line-height: 24px; text-decoration: none; color: #ffffff;') service@flynas.com
															tr
																td(style='font-size: 0; line-height: 0; height: 8px;') &nbsp;
															tr(valign='middle')
																td
																	img(src=image('icon-3') width='16' height='16' alt='' border='0')
																td(width='12' height='0' style='font-size: 0; line-height: 0;') &nbsp;
																td
																	a(href='https://www.flynas.com/' style='padding-left: 6px; font-family: HelveticaNeueCyr, Lato, Arial, sans-serif; font-size: 14px; line-height: 24px; text-decoration: none; color: #ffffff;') www.flynas.com
						tr
							td(style='padding-top: 30px; padding-bottom: 30px; padding-left: 20px; padding-right: 20px;')
								table(align='center' border='0' cellpadding='0' cellspacing='0' width='130px' style='border-collapse: collapse; text-align: center; margin-left: auto; margin-right: auto;')
									tr
										td(style='color: #ffffff;')
											a(href='https://www.flynas.com/' style='padding: 7px; text-decoration: none;')
												img(src=image('icon-4') width='18' height='16' alt='Twitter' border='0')
										td(style='color: #ffffff;')
											a(href='https://www.flynas.com/' style='padding: 7px; text-decoration: none;')
												img(src=image('icon-5') width='18' height='19' alt='Facebook' border='0')
										td(style='color: #ffffff;')
											a(href='https://www.flynas.com/' style='padding: 7px; text-decoration: none;')
												img(src=image('icon-6') width='17' height='17' alt='Instagram' border='0')
						tr
							td
								table(align='center' border='0' cellpadding='0' cellspacing='0' width='454' style='border-collapse: collapse; margin-left: auto; margin-right: auto;')
									tr
										td
											hr(style='margin: 0; box-shadow: none; -webkit-box-shadow: none; height: 0; border-style: solid; border-width: 0 0 1px 0; border-color: #d8eef4;')
						tr
							td(style='padding-top: 25px; padding-bottom: 25px; padding-left: 30px; padding-right: 30px; text-align: center; font-family: Lato, Arial, sans-serif; font-size: 12px; color: #aadbe6;')
								| &copy; 2020 Flynas. All rights reserved
