extends _skeleton

block variables
	-
		headerImage = {
			'local': 'images/image-2.jpg',
			'web': 'https://i.ibb.co/kh29Y2j/image-1.jpg'
		};

block content
	tr
		td: hr(style='font-size: 0; line-height: 0; width: 70px; height: 3px; border: 0; margin: 0; box-shadow: none; -webkit-box-shadow: none; border-radius: 2px; background-color: #df2d69;')
	tr
		td(style='padding-top: 30px; font-family: Lato, Arial, sans-serif; font-size: 40px; line-height: 48px; color: #313131;') Forgot password?
	tr
		td(style='padding-top: 32px; padding-bottom: 32px;')
			hr(style='margin: 0; box-shadow: none; -webkit-box-shadow: none; height: 0; border-style: solid; border-width: 0 0 1px 0; border-color: #e1e1e1;')
	tr
		td(style='font-family: Lato, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #5a5a5a;')
			| Seems like your forgot your password for
			|
			a(href='https://www.flynas.com/' style='color: #72c3d6;') test@gmail.com
			|  If this is true, click below to reset your password.
	tr
		td(style='padding-top: 41px; padding-bottom: 40px; padding-left: 17%; padding-right: 17%;')
			table(align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse; margin-left: auto; margin-right: auto;')
				tr: td: a(href='https://www.flynas.com/' style='display: block; padding-top: 10px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px; border-radius: 8px; text-align: center; text-transform: uppercase; color: #ffffff; background: #01bab4; font-family: Lato, Arial, sans-serif; font-size: 15px; line-height: 24px; font-weight: 700; text-decoration: none; ') Reset password
	tr
		td(style='padding-bottom: 34px;'): hr(style='margin: 0; box-shadow: none; -webkit-box-shadow: none; height: 0; border-style: solid; border-width: 0 0 1px 0; border-color: #e1e1e1;')
	tr
		td(style='font-family: Lato, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #5a5a5a;') If you ignore this message, your password won&apos;t be changed.
	tr
		td(style='padding-top: 24px; font-family: Lato, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #5a5a5a;')
			| if you didn&apos;t request a password reset,
			|
			a(href='https://www.flynas.com/' style='color: #72c3d6;') let us know

