extends _skeleton

block variables
	-
		headerImage = {
			'local': 'images/image-4.jpg',
			'web': 'https://i.ibb.co/K7sWpGt/image-1.jpg'
		};

block content
	tr
		td: hr(style='font-size: 0; line-height: 0; width: 70px; height: 3px; border: 0; margin: 0; box-shadow: none; -webkit-box-shadow: none; border-radius: 2px; background-color: #df2d69;')
	tr: td(style='padding-top: 30px; font-family: Lato, Arial, sans-serif; font-size: 40px; line-height: 48px; color: #313131;') Your password has been reset
	tr: td(style='padding-top: 27px; padding-bottom: 21px;'): hr(style='margin: 0; box-shadow: none; -webkit-box-shadow: none; height: 0; border-style: solid; border-width: 0 0 1px 0; border-color: #e1e1e1;')
	tr
		td(style='font-family: Lato, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #5a5a5a;')
			| Account password
			|
			a(href='https://www.flynas.com/' style='color: #72c3d6;') test@gmail.com
			|  has been successfully changed
	tr
		td(style='padding-top: 20px; font-family: Lato, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #5a5a5a;')
			| if you didn't request a password reset,
			|
			a(href='https://www.flynas.com/' style='color: #72c3d6;') let us know

