extends _skeleton

block variables
	-
		headerImage = {
			'local': 'images/image-3.jpg',
			'web': 'https://i.ibb.co/LPfSbzs/image-1.jpg'
		};

block content
	tr
		td
			hr(style='font-size: 0; line-height: 0; width: 70px; height: 3px; border: 0; margin: 0; box-shadow: none; -webkit-box-shadow: none; border-radius: 2px; background-color: #df2d69;')
	tr
		td(style='padding-top: 30px; font-family: Lato, Arial, sans-serif; font-size: 40px; line-height: 48px; color: #313131;') Please verify your email
	tr
		td(style='padding-top: 32px; padding-bottom: 32px;')
			hr(style='margin: 0; box-shadow: none; -webkit-box-shadow: none; height: 0; border-style: solid; border-width: 0 0 1px 0; border-color: #e1e1e1;')
	tr
		td(style='padding-bottom: 2px; font-family: Lato, Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: 700; color: #5a5a5a;') Dear [Username],
	tr
		td(style='font-family: Lato, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #5a5a5a;') To complete your sing up, Please verify your email:
	tr
		td(style='padding-top: 41px; padding-bottom: 40px; padding-left: 17%; padding-right: 17%;')
			table(align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse; margin-left: auto; margin-right: auto;')
				tr
					td: a(href='https://www.flynas.com/' style='display: block; padding-top: 10px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px; border-radius: 8px; text-align: center; text-transform: uppercase; color: #ffffff; background: #01bab4; font-family: Lato, Arial, sans-serif; font-size: 15px; line-height: 24px; font-weight: 700; text-decoration: none; ') Verify email
	tr
		td(style='font-family: Lato, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #5a5a5a;') Or verify using this link:
	tr
		td(style='padding-top: 7px; padding-bottom: 7px;')
			a(href='https://www.flynas.com/' style='display: block; max-width: 454px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-family: Lato, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #1856ff;')
				|  https://www.flynas.com/en?gclid=EAIaIQobChMIiMOmmN-A5...IVDMKyCh3uPAb7EAAYASAAEgJUa_D_BwE&amp;gclsrc=aw.ds
	tr
		td(style='padding-top: 26px; padding-bottom: 26px;'): hr(style='margin: 0; box-shadow: none; -webkit-box-shadow: none; height: 0; border-style: solid; border-width: 0 0 1px 0; border-color: #e1e1e1;')
	tr
		td(style='font-family: Lato, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #5a5a5a;') If you did not create an account using this address, please ignore this email.

