extends _skeleton

block content
	tr
		td: hr(style='font-size: 0; line-height: 0; width: 70px; height: 3px; border: 0; margin: 0; box-shadow: none; -webkit-box-shadow: none; border-radius: 2px; background-color: #df2d69;')
	tr
		td(style='padding-top: 30px; font-family: Lato, Arial, sans-serif; font-size: 40px; line-height: 48px; color: #313131;') Welcome to Flynas!
	tr
		td(style='padding-top: 32px; padding-bottom: 32px;')
			hr(style='margin: 0; box-shadow: none; -webkit-box-shadow: none; height: 0; border-style: solid; border-width: 0 0 1px 0; border-color: #e1e1e1;')
	tr
		td(style='padding-bottom: 2px; font-family: Lato, Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: 700; color: #5a5a5a;') Dear [Username],
	tr
		td(style='font-family: Lato, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #5a5a5a;')
			| Thanks for Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	tr
		td(style='padding-top: 20px; font-family: Lato, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #5a5a5a;')
			| Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	tr
		td(style='padding-top: 41px; padding-left: 17%; padding-right: 17%;')
			table(align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse; margin-left: auto; margin-right: auto;')
				tr
					td: a.button(href='https://www.flynas.com/') Get started
